
@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=K2D');


header {
  display: flex;
  justify-content: center;
}


body {
background: #FFFEA1;
font-size: 120%;
}

h1 {
  font-family: Chicle;
  font-size: 5em;
  display: flex;
  justify-content: space-around;
  letter-spacing: 2px;
}

h2 {
  font-size: 3em;
  display: flex;
  justify-content: space-around;
  font-family: Chicle;
  letter-spacing: 1px;
}

h3 {
margin-left: 70px;
  justify-content: space-around;
  font-family: K2D;
}



a {
  color: rgb(75, 0, 130);

  font-family: K2D;

}

a:hover {
  color: rgb(250, 101, 147);
}

p {
  display: flex;
  margin: 100px;
  justify-content: space-around;
  background-color: #FDECA8;
  font-family: K2D;
  padding: 20px;


}







.comp-section-content {
    display: flex;
    justify-content: space-around;
}


.comp-content {

  flex: 1 0 200px;


}

.comp-content p {
  padding: 1em;
}

.comp-content img {
  width: 100%;
}

.comp-content a {
  display: block;
  padding: 20px;
  float: right;

}


.nav {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;





}

.gauche {
  display: flex;
  justify-content: center;


}

.droite {
  display: flex;
  justify-content: space-between;

}


.droite a {
  font-size: 1.5em;
  margin: auto;
}

.gauche a {
  font-size: 1.5em;
  margin: auto;

}

video {
 display: block;
    margin-left: auto;
    margin-right: auto }
